{% extends 'resume_generator/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<style>
    .container{
        padding-top: 10%;
        /* margin-left: 14vw; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* height: 100vh; */
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Employees</h5>
                    <p class="card-text display-4 font-weight-bold">{{ employees_len }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Projects</h5>
                    <p class="card-text display-4 font-weight-bold">{{ projects_len }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Coding Skills</h5>
                    <p class="card-text display-4 font-weight-bold">{{ coding_skills_len }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Tools</h5>
                    <p class="card-text display-4 font-weight-bold">{{ tools_len }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}